.dealer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2rem;
  &__title {
    font-family: "Mulish";
    font-style: italic;
    text-align: center;
    margin: 2rem;
  }

  div:first-child {
    width: 100% !important ;
  }
  &__list {
    margin: 2rem 1rem;
    font-family: "Raleway";
    line-height: 2.5rem;
    max-width: 30rem;
  }
  &__name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    text-align: end;
    margin: 1rem 2rem;
    color: grey;
    &-address {
      color: black;
    }
    &-tel,
    &-fax {
      color: rgba(31, 149, 245, 0.918);
    }
  }
}

@include tablet {
  .dealer {
    display: flex;
    flex-wrap: wrap;
    div:first-child {
      flex: 0.7 !important ;
    }
    &__list {
      flex: 0.3;
      margin-left: 2rem;
      min-width: 30rem;
    }
  }
}
